:root {
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondary-dark: #a18268;
    --color-brand-light: #819b57;
    --color-brand-dark: #465929;
    --color-brand-line: #cfcfbc;
    --color-bb: #CFCFBC;
}

$bp-mobile: 480px;
$bp-tablet: 736px;
$bp-desktop: 1280px;


