.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    border: 1px solid lightgrey;
    border-radius: 16px;
    transition: transform 0.3s;

    &:hover {
    transform: scale(1.05);
}

    &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    &__title {
    color: var(--color-primary-light);
    font-size: 24px;
    font-weight: 600;
}
    &__text {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
}
}




